.main-container {
    width: 100%;
    min-height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    background-image: url(../image/d1.jpg);
}
.box1 {
    width: 100%;
    height: 100px;
    background-color: #a9d66d;
    
    display: flex;
    padding: 20px;
}

.box21, .box22, .box23, .box24 {
    width: 25%;
    padding: 20px;
    background-color: rgba(63, 114, 138, 0.884);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(192, 10, 10, 0.1);

}

h2 {
    color: #33333362;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #131212;
    font-family: 'Arial', sans-serif;
    color: white;
}

.menu-item {
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffffda;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.menu-content {
    flex: 1;
}

.menu-item h3 {
    color: #0f0f0f;
    margin-bottom: 8px;
    font-size: 1.2em;
}

.menu-item p {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.price {
    display: block;
    color: #28a745;
    font-weight: bold;
    font-size: 1.1em;
    text-align: right;
}

